<?xml version="1.0"?>
<ruleset
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	name="Wp Router"
	xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xsd"
>
	<description>PHP CodeSniffer Rules</description>

	<file>./src</file>
	<file>./tests</file>

	<exclude-pattern>/vendor/*</exclude-pattern>

	<rule ref="WordPress-Core">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedNamespaceFound"/>
		<exclude name="WordPress.PHP.YodaConditions.NotYoda"/>
	</rule>

	<rule ref="WordPress-Extra"/>

	<rule ref="Generic.CodeAnalysis.UnusedFunctionParameter"/>

	<rule ref="Generic.Commenting.Todo"/>

	<!--
	For information on additional custom properties available, check out the
	wiki:
	https://github.com/WordPress/WordPress-Coding-Standards/wiki/Customizable-sniff-properties
	-->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="oyo"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.WhiteSpace.ControlStructureSpacing">
		<properties>
			<property name="spaces_before_closure_open_paren" value="1"/>
		</properties>
	</rule>
</ruleset>
